
@keyframes redPulse {
    0% {background: rgb(241, 60, 28);}
  
    100% {}
  } 
  
  

 
  
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  } 
  
  
  @keyframes shake {
  0% {transform: translateX(-10px);}
  
  20% {transform: translateX(10px);}
  
  40% {transform: translateX(-10px);}
  
  60% {transform: translateX(10px);}
  
  80% {transform: translateX(-10px);}
  
  100% {transform: translateX(0px);}
  } 
  
  

  
  
  @keyframes fadeIn {
    0% {opacity: 0;}
  
    100% {opacity: 1;}
  } 
    