#logo-container{



display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;

margin-left: 20px;

    width: 400px;
    height: 100px;
    
    opacity: 0;
    
    position: absolute;
    
    top: 0;
    left: 0;
    
    
  



    
    
    
    }
    


    .logo-wrapper{

    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100%;
    width: 100%;



    }


    .subtitle-container{


       
        height: 50px;
        width: 100%;


    }